<%= @post.id %> 의 글
<hr>
title : <%= @post.title %>
<hr>
content : <%= @post.content %>
<hr>
좋아요 수 : <%= @post.post_likes.count %>
<hr>
<a href="/posts/<%= @post.id %>/post_likes">좋아요</a>
<br>
<a href="/posts/index">리스트로 이동</a>
<br>
<br>
댓글 작성하기
<form action="<%= posts_comments_create_path(@post) %>" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	댓글 : <input type="text" name="body">
	<button type="submit">제출</button>
</form>
<hr>
<!-- 왜 액션을 "posts/<%#= post.id %>/comments" 넘기면 url주소가 posts/show/posts/id/comments로 넘어가지??? -->
댓글 보기
<hr>
<% Comment.where(post_id: @post.id).each do |comment| %>
	작성자 : <%= comment.user.email %>
	댓글 : <%= comment.body %>
	좋아요 수 : <%= comment.comment_likes.count %>
	<a href="/comments/<%= comment.id %>/comment_likes">좋아요</a>
	<hr>
<% end %>
